@media (max-width: 48rem) {
    .contenedor {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .bloque_2,
    .bloque_4,
    .bloque_5 {
        display: none;
    }

    .bloque_1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .bloque_3 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .bloque_6 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
}
