html,
body {
    height: 100%;
    margin: 0;
}

main {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background-color: #c8c5c5;
    font-family: Arial, sans-serif;
}

.datos_foto {
    display: flex;
    justify-content: space-between;
}

.foto {
    width: 30%;
    text-align: center;
}